body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: transparent;
    padding: 30px;
    width: 1150px;
    margin: auto;
    background-color: white;
 }

 .navigator {
    background-color: white;
 }
 
 .navigator .head{
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 20px;
     margin-left: 2%;
     position: relative;
     display: inline-block;
 }
 
 .navigator ul {
    display: inline-block;
    margin: 0;
    margin-left: 50%;
 }
 .navigator ul li {
    list-style-type: none;
    display: inline;
    line-height: 80px;
 }
 .navigator ul li a {
    text-decoration: none;
    margin: -3px;
    padding: 10px 30px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    
 }
 .navigator ul li a:hover {
    color : white;
    background-color: orange;
 }
 
 .navigator .satu {
     border-radius: 5px 0 0 5px;
 }
 
 .navigator .dua {
     border-radius: 0 5px 5px 0;
 }

 h1{
   font-size: 30px;
}

 h3{
   color: gray;
   font-size: 15px;
 }
 .gambar {
    width: 500px;
    height: 300px;
    margin-left: 10%;
    margin-top: 80px;
}
.kata{
   margin-left: 200px;
   margin-top: 10px;
   color: gray;
}
   
h4{
   color: black;
   margin-left: 250px;
   margin-top: -40px;
   }
   
.akun {
   width: 50px;
   height: 50px;
   margin-left: 170px;
   margin-top: 30px;
}
   
.ibu{
   color: gray;
   margin-left: 250px;
   margin-top: -20px;
}
   
.use {
   color: black;
   margin-left: 60px;
   margin-top: 40px;
}
 
.form {
   width:360px;
   height:550px;
   background:rgb(237, 240, 244);
   border:solid 15px transparent;
   margin-top: -750px;
   margin-left: 750px;  
 }

.form h1{
   margin-left: 40px;
   margin-top: 50px;
   color: black;
   font-size: 20px;
}

.form p{
   color: gray;
   margin-left: 40px;
   margin-right: auto;
   font-size: 14px;
}
.form table{
   margin-left: 35px;
   margin-right: auto;
   margin-top: -20px;
}

.form h6{
   font-weight: bold;
}

.form input{
   width: 250px;
   border: 3px solid gray;
   padding: 15.5px;
   margin-top: -40px;
   font-size: 15px;

}

.email {
   margin-top: 10px;
}

.int{
   margin-top: 10px;
}

.select {
    border: 3px solid gray;
    border-radius: 5px;
    padding: 18px;
}
.form select{
    width: 285px; 
    border-radius: 5px 0 0 5px;
    margin-top: -20px;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    color: #b6b6b6;
    font-size: 15px;
}

.submit {
   font-weight: bold;
}

.submit input {
   width: 285px;
   border: 4px solid rgb(50, 50, 50);
   background-color: blue;
   color: white;
   margin-top: 20px;
}

.hiji {
   margin-top: 50px;
   width: 500px;
   margin-left: 17px;
}

.dua {
   width: 400px;
}

.duaa {
   width: 400px;
   margin-top: 30px;
}

.tiga {
   width: 400px;
   margin-top: 30px;
}

.tilu {
   width: 40px;
   background-color: rgb(238, 240, 244);
   height: 40px;
   border-radius: 50%;
}

.tilu p {
   margin-left: 13px;
   line-height: 40px;
   font-weight: bold;
   color: #b6b6b6;
}

.tulishiji{
   width: 350px;
   margin-left: 70px;
   margin-top: -58px;
}

.tulisdua {
   width: 300px;
   margin-left: 70px;
   margin-top: -58px;
}

.tulistilu {
   width: 315px;
   margin-left: 70px;
   margin-top: -58px;
}

.tulishiji p {
   color: #b6b6b6;
}

.tulisdua p {
   color: #b6b6b6;
}

.tulistilu p {
   color: #b6b6b6;
}


.our {
   margin-top: 370px;
   height: 250px;
   background-color: rgb(238, 240, 244);
   text-align: center;
   line-height: 50px;
   margin-left: -1px;
}

.our p {
   line-height: 200px;
   color: rgb(56, 56, 56);
   font-weight: bold;
   font-size: 40px;
}

.utama {
   width: 1000px;
   height: 580px;
   margin: auto;
}

.atas {
   width: 1000px;
   height: 300px;
   margin-top: -200px;
   margin: auto;
   z-index: 999999;
   position: absolute;
}

.fresh {
   width: 300px;
   height: 200px;
   margin-top: 50px;
   position: absolute;
}

.fresh2 {
   width: 300px;
   height: 200px;
   margin-left: 350px;
   margin-top: 50px;
   position: absolute;
}

.fresh3 {
   width: 300px;
   height: 200px;
   margin-left: 700px;
   margin-top: 50px;
   position: absolute;
}

.tuga1 {
   width: 50px;
   background-color: rgb(238, 240, 244);
   height: 50px;
   border-radius: 100%;
}

.tuga1 i {
   margin-left: 7px;
   margin-top: 8px;
}

.vegetable {
   width: 250px;
   margin-left: 70px;
   margin-top: -60px;
   color: #4a4a4a;
}

.vegetable p {
   font-weight: bold;
   font-size: 20px;
}

.sayuran {
   width: 250px;
   margin-left: 70px;
}

.sayuran p {
   color: #b6b6b6;
}

.garis2 {
   margin-top: 290px;
   margin-left: 400px;
   background-color: rgb(238, 240, 244);
   width: 150px;
   height: 5px;
   position: absolute;
   z-index: 9999;
}

.bawah {
   width: 1000px;
   height: 295px;
   margin: auto;
   margin-top: 370px;
   position: absolute;
}

.kitchen {
   width: 300px;
   height: 200px;
}

.kitchen2 {
   width: 300px;
   height: 200px;
   margin-left: 350px;
   margin-top: -200px;
}

.kitchen3 {
   width: 300px;
   height: 200px;
   margin-left: 700px;
   margin-top: -200px;
}

.closing {
   height: 350px;
   text-align: center;
}

.argument {
   width: 800px;
   height: 300px;
   margin-left: 175px;
   position: absolute;
}

.headling {
   margin-top: 50px;
   width: 600px;
   margin-left: 100px;
}

.headling p {
   font-weight: bold;
   font-size: 30px;
   text-align: center;
   color: #4a4a4a;
}

.suspe {
   width: 620px;
   margin-left: 100px;
}

.suspe p {
   color: #b6b6b6;
   text-align: center;
}

.bot {
   font-weight: bold;
   margin-left: -250px;
}

.bot input {
   width: 300px;
   border-radius: 5px;
   background-color: #050428;
   color: white;
   margin-top: 30px;
   height: 60px;
   margin-left: 270px;
   width: 280px;
}

footer {
   height: 150px;
}

.moqups {
   width: 300px;
   height: 150px;
   margin-left: 420px;
   margin-top: -20px;
   position: absolute;
   text-align: center;
}

.satu p {
   font-weight: bold;
   font-size: 25px;
}

.duo {
   width: 300px;
   height: 30px;
   margin-top: -10px;
}

.duo p {
   display: inline-block;
   color: #b6b6b6;
}

.cf:before,
.cf:after {
   content: " ";
   /* 1 */
   display: table;
   /* 2 */
}

.cf:after {
   clear: both;
}

.cf {
   *zoom: 1;
}